#alterar-senha{
    padding: 100px;

    .centro_inicio{
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        padding: 50px;
        border-radius: 30px;
    }

    .centro {
        text-align: center;
    }

    .campo__input{
        border: 1px solid #006acb;
        border-radius: 30px;
        color: white;
        display: inline-block;
        height: 60px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

        input,
        textarea{
            border: none;
        }
    }

    .button {
        background-color: #4f0074;
        border: 1px solid #4f0074;
        border-radius: 30px;
        color: white;
        display: inline-block;
        height: auto;
        width: auto;
        padding: 10px 20px;
        }

    .lim__estilo{
        padding: 50px;
    }
    
    .campo_titulo2{
        color:#006acb
    }

    .style__campo{
        border: 1px solid #006acb;
        border-radius: 30px;
        color: white;
        display: block;
        width: 100%;
        height: auto;
        padding: 15px 25px;

        &::placeholder{
            font-family: 'Plus Jakarta Sans';
            font-size: 15px;
            line-height: 15px;
            color: #006acb;
        }

        &:focus{
            outline: none;
        }
    }





}