#cadastrar_novo_produto{

    .button {
        background-color: #4f0074;
        border: 1px solid #4f0074;
        border-radius: 30px;
        color: white;
        display: inline-block;
        height: auto;
        width: auto;
        padding: 10px 20px;
    }

    .lim__estilo{
        padding: 50px;
    }

    .centro {
        text-align: center;
    }

    .campo__input{
        margin-bottom: 10px;

    }

    .campo_titulo2{
        color:#006acb
    }
    .style__campo{
        border: 1px solid #006acb;
        border-radius: 30px;
        color: white;
        display: block;
        width: 100%;
        height: auto;
        padding: 15px 25px;

        &::placeholder{
            font-family: 'Plus Jakarta Sans';
            font-size: 15px;
            line-height: 15px;
            color: #006acb;
        }

        &:focus{
            outline: none;
        }
    }

    .sub__select{
        border: 1px solid #006acb;
        background-color: #FFF;
        border-radius: 30px;
        color: white;
        display: block;
        width: 100%;
        height: auto;
        padding: 15px 25px;
        box-sizing: border-box;
        color: #006acb;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 15px;
        line-height: 15px;
    
        &:focus{
          outline: none;
        }
    
        &::-ms-expand{
          display: none;
        }
    
        option{
          background-color: #FFF;
          font-family: 'Plus Jakarta Sans', sans-serif;
          font-size: 14px;
          color: #000000;
        }
      }

}