#carrinho{
  padding: 100px 0;

    .box__carrinho{
      margin: 50px 0 70px 0;

        .carrinho__conteudo{
          max-width: 100%;
          width: 100%;
          margin-right: auto;
          margin-left: auto;
          border: 2px solid #4F0074;
          border-top: none;
    
          .carrinho__header{
            display: flex;
            font-size: 13px;
            line-height: 18px;
            color: #fff;
            background-color: #4F0074;
            font-family: 'Plus Jakarta Sans', sans-serif;
            padding: 12px 30px;
    
            .carrinho__produto{
              @include media-breakpoint-down(md){
                text-align: center;
                margin-right: auto;
                margin-left: auto;
              }
    
              @include media-breakpoint-up(lg){
                width: 52%;
                text-align: start;
              }
            }
    
            .carrinho__quantidade{    
              @include media-breakpoint-up(lg) {
                width: 16%;
              }
    
              @include media-breakpoint-down(md){
                display: none;
              }
            }
          }
    
          .carrinho__listagem{
            padding: 25px 30px;
    
            .carrinho__item{
              display: flex;
              align-items: center;
              margin-bottom: 20px;
    
              @include media-breakpoint-down(md){
                position: relative;
                flex-direction: column;
                padding-bottom: 20px;
    
                &:before{
                  content: '';
                  position: absolute;
                  bottom: 0;
                  width: 100%;
                  height: 2px;
                  background-color: #4F0074;
                }
    
                &:last-child{
                  &:before{
                    opacity: 0;
                  }
                }
              }
    
              .carrinho__produto{
                @include media-breakpoint-up(lg) {
                  width: 52%;
                }
    
                .carrinho__produto__card{
                  display: flex;
                  align-items: center;
                  justify-content: start;
                  text-decoration: none;
    
                  @include media-breakpoint-down(md){
                    flex-direction: column;
                  }
    
                  .carrinho__produto__img{
                    position: relative;
                    text-align: center;
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 0;
    
                    @include media-breakpoint-up(lg){
                      margin-left: 0;
                      margin-right: 20px;
                    }
    
                    &:before{
                      content: '';
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      background-color: rgba(#4F0074,.4);
                      opacity: 0;
                    }
                  }
    
                  .carrinho__produto__desc{
                    font-family: 'Plus Jakarta Sans', sans-serif;
                    color: #000000;
                    font-size: 16px;
                    line-height: 18px;
    
                    @include media-breakpoint-down(md){
                      margin-top: 10px;
                      text-align: center;
                    }
                  }
    
                  &:hover{
                    text-decoration: none;
                    transition: all .3s linear;
    
                    .carrinho__produto__img{
                      &:before{
                        opacity: 1;
                      }
                    }
    
                    .carrinho__produto__desc{
                      color: #4F0074;
                    }
                  }
                }
              }
    
              .carrinho__quantidade{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 30px;
                border: 2px solid #000;

                button{
                  border: none;
                  background-color: transparent;
                  font-size: 25px;
                  line-height: 25px;
                }

                .card__qtd{
                  font-family: 'Plus Jakarta Sans', sans-serif;
                  font-size: 20px;
                  line-height: 20px;
                  margin-bottom: 0;
                  padding: 10px;
                }
              }
    
              .carrinho__excluir{
                display: flex;
                align-items: center;
                justify-content: end;
    
                @include media-breakpoint-down(md){
                  margin-top: 20px;
                }
    
                @include media-breakpoint-up(lg) {
                  width: 32%;
                }
    
                @include media-breakpoint-only(lg){
                  width: 28%;
                }
    
                .btn__remover{
                  color: #000;
                  background-color: transparent;
                  border: none;
                  font-size: 20px;
                  line-height: 20px;
    
                  &:hover{
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
    }

    .segura__btns{
      display: flex;
      align-items: end;
      justify-content: end;
    }

    .button__style {
        background-color: #4f0074;
        border: 1px solid #4f0074;
        border-radius: 30px;
        color: white;
        display: inline-block;
        height: auto;
        width: auto;
        padding: 10px 20px;
        text-decoration: none;

        &:first-child{
          margin-right: 30px;
        }
    }
}