#contatos{
    padding: 100px;
     
    .button {
        background-color: #4f0074;
        border: 1px solid #4f0074;
        border-radius: 30px;
        color: white;
        display: inline-block;
        height: auto;
        width: auto;
        padding: 10px 20px;
    }

    .texto__style{
      text-align: center;
    }

    .btn__center{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;

      .btn__style{
        min-width: 180px;

        &:last-child{
          margin-left: 20px;
        }
      }
    }

    .campo__input{
        margin-bottom: 10px;
    }

    .style__campo{
        border: 1px solid #006acb;
        border-radius: 30px;
        color: white;
        display: block;
        width: 100%;
        height: auto;
        padding: 15px 25px;

        &::placeholder{
            font-family: 'Plus Jakarta Sans';
            font-size: 15px;
            line-height: 15px;
            color: #006acb;
        }

        &:focus{
            outline: none;
        }
    }

    .custom__checkbox {
      margin-left: 20px;

        .rodape__check {
          position: fixed;
          left: -200vw;

          &:checked {
            ~ .rodape__check__label {
              &:after {
                opacity: 1;
              }
            }
          }
        }

        .rodape__check__label {
          position: relative;
          padding-left: 30px;
          margin-left: 0;
          font-family: 'Plus Jakarta Sans', sans-serif;
          color: #000;
          font-size: 16px;
          line-height: 20px;

          a{
            color: inherit;
          }

          &:before {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid #000;
            left: 0;
            top: 0;
          }

          &:after {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #000;
            left: 3px;
            top: 3px;
            opacity: 0;
          }
        }
    }

    .sub__select{
        border: 1px solid #006acb;
        background-color: #FFF;
        border-radius: 30px;
        color: white;
        display: block;
        width: 100%;
        height: auto;
        padding: 15px 25px;
        box-sizing: border-box;
        color: #006acb;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 15px;
        line-height: 15px;
    
        &:focus{
          outline: none;
        }
    
        &::-ms-expand{
          display: none;
        }
    
        option{
          background-color: #FFF;
          font-family: 'Plus Jakarta Sans', sans-serif;
          font-size: 14px;
          color: #000000;
        }
    }
}