#duvidas-frequentes{

  .container.py-5.form-control {
    width: 1000px;  
  }
  
  .text-center.my-5.form-control{
    height: 300px;
  
  }

  .linha-horizontal{
    display: inline-block;
    border: none;
    border-left: 200px solid rgb(75, 13, 132);
    height: 2px;
    margin-right: 10px;
    vertical-align: middle;
  }

  .accordion-button {
        background-color: #084298;
        color: white;
  }   

  
  
    
  

  .accordion-body{
    width: 150%;
    border-style: solid;
    border-color: #2063a0;
    border-radius: 0px 0px 20px 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    position: relative;
  }

  .bg-white {
    width: 80%;
    max-width: 800px;
    height: 80%;
    max-height: 600px;
    border: 2px solid #084298;
    border-radius: 10px;
    overflow: auto;
  }

  .center-image {
    position: relative;
  }
  
  .center-image img {
    position: absolute;
    top: 50%;
    right:85%;
    transform: translate(-50%, -50%);
  }

  .btn-lg.center-image {
    font-size: 1.5rem;
    padding: 15px 60px;
  }
  
  .btn-lg.center-image img {
    border: 5px solid #fff;
  }
  
  .btn-lg.center-image span {
    white-space: nowrap;
  }
  
  .container{
    //overflow: hidden;
  }
}