#onde-estamos{
    padding: 100px 0;

    .position__style{
        align-items: cente;
        padding: 50px;
    }

    .text__style{
        margin-bottom: 40px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        display: block;
        display: flex; 
        justify-content: center; 
        align-items: center;

    }
    //alinhamento do mapa integrado do google maps
    .map__style{
        display:block;
        margin: auto;
        
    }
    //tituo sob o mapa
    .title__style{
        margin: 30px,0;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: bold;
        color: #004C93;
        font-size: 34px;
        line-height: 38px;
    }
    //imagem do lado esquedo 
    .img__style{
        max-height: 302px;
        max-width: 548px;
        width: auto;
        height: auto;
        margin-top: 75px;
        margin-bottom: 40px;
        display: flex; 
        justify-content: center; 

    }
    //icones SVG usados nos contatos
    .icons__style{
        margin-top: 150px;
        img, h4{
            display: inline-block;
            margin-left: 15px;
        }
        h4{
            font-family: 'Plus Jakarta Sans', sans-serif;  
        }
        li{
            margin-top: 50px;
            margin-bottom: 50wpx;
        }
    }
    //botão de voltar
    .btn{
        position: relative;
        left: 45%;
        background-color: #4f0074;
        border-radius: 60px;
        padding: 12px 28px;
        border: #4f0074;
        margin-top: 50px;
        margin-bottom: 40px;
    }
}