#politica-de-privacidade{
    padding: 70px;

    .texto__style{
        margin-top: 50px;
        text-align: justify;
    }

    .btn__center{
        padding: 50px;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .btn__style{
        min-width: 150px;      
    }
}