#quem-somos{
  padding: 100px 0;

  .row{
    align-items: center;
    margin-top: 30px;

    .text__style{
      text-align: justify;
      
    }
  }

  .btn__center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    .btn__style{
      min-width: 150px;
    }
  }

  .media-body{
    margin-bottom: 40px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: block;
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
 .margin__style{
  margin-top: 10px;
 }

  .navegador{            
      .nav{ 
        background-color: #6fbaff;
        border-radius: 20px 20px 0px 0px;
        line-height: 40px;
        padding: 0 20px;
        float: left;
        color: #fff;
        transition: background ease-in-out .3s;
        position: relative;
        left: 70px;
      }
  }

  .posit__nav{
    width: 85%;
    border-style: solid;
    border-color: #2063a0;
    border-radius: 0px 0px 20px 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    position: relative;
    left: 7.5%;
  }

  .nav__estilo{
    background-color: #6fbaff;;
    position: relative;
    left: 10%;
    border-radius:10px 10px 0px 0px ;
    position: relative;
    left: 7.5%;
    top: 100%;
  }
}