@keyframes fadeShadow {
    0%{
      box-shadow: 0 0 0 0 rgba(#00bb2d, 0.5), 0 0 0 0 rgba(#00bb2d, 0.5);
    }
    70%{
      box-shadow: 0 0 0 8px rgba(#00bb2d, 0.25), 0 0 0 14px rgba(#00bb2d, 0.25);
    }
    100%{
      box-shadow: 0 0 0 16px rgba(#00bb2d, 0), 0 0 0 28px rgba(#00bb2d, 0);
    }
  }
  
  @keyframes balanca{
    0%{
      transform: rotate(20deg) translate(0, 0);
    }
    20%{
      transform: rotate(40deg) translate(5px, -5px);
    }
    40%{
      transform: rotate(-20deg) translate(-5px, 5px);
    }
    60%{
      transform: rotate(40deg) translate(5px, -5px);
    }
    80%{
      transform: rotate(-20deg) translate(-5px, 5px);
    }
    100%{
      transform: rotate(20deg) translate(0, 0)
    }
  }
  @keyframes balancaAlt{
    0%{
      transform: rotate(5deg) translate(-10px, 0);
    }
    25%{
      transform: rotate(0deg) translate(-5px, -5px);
    }
    50%{
      transform: rotate(5deg) translate(-10px, 0);
    }
    75%{
      transform: rotate(0deg) translate(-5px, -5px);
    }
    100%{
      transform: rotate(5deg) translate(-10px, 0);
    }
  }
  
  @keyframes balancaAlt2{
    0%{
      transform: rotate(-5deg) translate(-10px, 0);
    }
    25%{
      transform: rotate(0deg) translate(-5px, -5px);
    }
    50%{
      transform: rotate(-5deg) translate(-10px, 0);
    }
    75%{
      transform: rotate(0deg) translate(-5px, -5px);
    }
    100%{
      transform: rotate(-5deg) translate(-10px, 0);
    }
  }
  
  @keyframes balancaAlt3{
    0%{
      transform: rotate(5deg) translate(-10px, 0) scaleX(-1);
    }
    25%{
      transform: rotate(0deg) translate(-5px, -5px) scaleX(-1);
    }
    50%{
      transform: rotate(5deg) translate(-10px, 0) scaleX(-1);
    }
    75%{
      transform: rotate(0deg) translate(-5px, -5px) scaleX(-1);
    }
    100%{
      transform: rotate(5deg) translate(-10px, 0) scaleX(-1);
    }
  }
  
  @keyframes pulsarOp {
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
  
  @keyframes balancaPouco{
    0%{
      transform: rotate(5deg) translate(0, 0);
    }
    20%{
      transform: rotate(10deg) translate(5px, -5px);
    }
    40%{
      transform: rotate(-5deg) translate(-5px, 5px);
    }
    60%{
      transform: rotate(10deg) translate(5px, -5px);
    }
    80%{
      transform: rotate(-5deg) translate(-5px, 5px);
    }
    100%{
      transform: rotate(5deg) translate(0, 0)
    }
  }
  