#footer{
    background-color: #006ACB;
    padding: 70px 0 10px 0;

    .row{
        align-items: center;
        padding-bottom: 40px;
    }

    .box__logo{
        /*@include media-breakpoint-down(md){
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            text-align: center;
        }*/
    }

    .cnpj{
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: #FFF;
        margin-top: 15px;
        font-size: 20px;
        line-height: 20px;
    }

    .links__uteis{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .link{
            position: relative;
            font-size: 20px;
            line-height: 30px;
            font-family: 'Plus Jakarta Sans', sans-serif;
            color: #FFF;
            text-align: center;
            text-decoration: none;

            &:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 2px;
                left: 0;
                opacity: 0;
            }

            &.active{
                &:before{
                    background-color: #FFF;
                    opacity: 1;
                }
            }

            &:hover{
                &:before{
                    background-color: rgba($color: #FFF, $alpha: .5);
                    opacity: 1;
                }
            }
        }
    }

    .dados__uteis{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;

        @include media-breakpoint-down(md){
            align-items: center;
            margin-top: 30px;
        }

        .util__tel{
            font-size: 30px;
            line-height: 30px;
            font-family: 'Plus Jakarta Sans', sans-serif;
            color: #FFF;
            text-align: center;
            text-decoration: none;
            margin-bottom: 10px;
        }

        .util__email{
            font-size: 25px;
            line-height: 25px;
            font-family: 'Plus Jakarta Sans', sans-serif;
            color: #FFF;
            text-align: center;
            text-decoration: none;

            &.link__grande{
                overflow-wrap: break-word;
                word-wrap: break-word;
                word-break: break-word;
                hyphens: auto;
                -ms-hyphens: auto;
                -moz-hyphens: auto;
                -webkit-hyphens: auto;
            }
        }
    }

    .creditos{
        position: relative;
        text-align: center;
        color: #FFF;
        padding-top: 15px;
        font-size: 13px;
        line-height: 15px;
        font-family: 'Plus Jakarta Sans', sans-serif;

        &:before{
            position: absolute;
            content: '';
            width: 80%;
            height: 2px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba($color: #FFF, $alpha: 50%);
        }
    }
}